{% extends 'base.html' %}

{% block scripts %}
<script>

</script>
{% endblock %}

{% block content %}
<div class="books-card">
    {% for book in books %}
    <div class="card" style="width: 18rem;">
        <!-- 이미지 불러오는 오류.. 
            진자 템플릿 문법을 몰라서 오류나는 건지
             아니면 url 주소에 띄어쓰기가 포함돼있어서 그런건지 
             아니면 flask에서는 static 폴더에 저장해야 한다던데 
             그거때문인지 찾아보기 -->
        <img src="{{ url_for('{{book.img_url}}')}}" class="card-img-top" alt="책 이미지">
        <div class="card-body">
          <h5 class="book-name"><a href="#">{{ book.book_name }}</a></h5>
          <p class="stock">{{book.stock}}권 남음</p>
          <a href="#" class="btn btn-primary">대여하기</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}