{% extends 'base.html' %}

{% block css %}
<style>
</style>
{% endblock %}

{% block scripts %}
<script>
    function addComment(bookId){
        let commenter = `{{g.user._id}}`
        let comment = $("#comment").val()
        let star_rating = $("#star-rating").val()

        if (comment == '' || star_rating == '') {
            alert("댓글과 평점은 필수 항목입니다.");
            return;
        }

        $.ajax({
            url: '/info/'+bookId,
            type: 'post',
            data: {
                'book_id': bookId,
                'commenter': commenter,
                'comment': comment,
                'star_rating': star_rating,
            },
            success: function(res){
                let result = res['result']
                if (result == "success") {
                    alert("댓글 작성 완료!")
                    window.location.reload()
                } else {
                    alert("문제가 생겼어요. 다시 시도해 주세요.")
                }
            }
        });
    }
    // 수정해야함.
    // function deleteComment(id) {
    //     let author = `{{g.user._id}}`
    //     $.ajax({
    //         url: '/post',
    //         type: 'DELETE',
    //         data: {
    //             'id': id,
    //             'author': author
    //         },
    //         success: function (res) {
    //             if (res['result'] == 'success') {
    //                 alert("삭제되었습니다.")
    //                 window.location.reload()
    //             } else {
    //                 alert("삭제 실패")
    //             }
    //         }
    //     })
    // }
    // function postUpdateComment(id) {
    //     let content = $(`#userEidContent${id}`).val()
    //     $.ajax({
    //         url: '/post',
    //         type: 'PATCH',
    //         data: {
    //             "id": id,
    //             "content": content
    //         },
    //         success: function (res) {
    //             if (res['result'] == 'success') {
    //                 alert("수정성공")
    //                 window.location.href = '/'
    //             }
    //         }
    //     })
    // }
    // function updateComment(id) {
    //     let rating = $(`#user-rating${id}`).text()
    //     let content = $(`#user-comment${id}`).text()
    //     let tmpHtml = `<select id="star-rating-change" class="form-select">
    //                     <option selected>별점을 선택하세요.</option>
    //                     <option value="1">1</option>
    //                     <option value="2">2</option>
    //                     <option value="3">3</option>
    //                     <option value="4">4</option>
    //                     <option value="5">5</option>
    //                   </select>
    //                   <textarea id=userEidContent${id} class="form-control" rows="3"></textarea>`
    //     let tmpBtn = `<button class="btn btn-sm btn-success" onclick="postUpdatePost(${id})">수정완료</button>`
    //     $("#edit-area").empty()
    //     $("#edit-area").append(tmpHtml)
    //     $(`#editBtn${id}`).hide()
    //     $(`#userEidContent${id}`).val(content)
    //     $("#edit-area").append(tmpBtn)
    // }
</script>
{% endblock %}

{% block content %}
<img src="{{ url_for('static', filename = book.img_path) }}" class="card-img-top" alt="책 이미지">
<table class="table table-bordered">
      <tbody>
        <tr>
          <th scope="row">책이름</th>
          <td>{{book.book_name}}</td>
        </tr>
        <tr>
          <th scope="row">출판사</th>
          <td>{{book.publisher}}</td>
        </tr>
        <tr>
          <th scope="row">저자</th>
          <td>{{book.author}}</td>
        </tr>
        <tr>
            <th scope="row">출간일</th>
            <td>{{book.publication_date}}</td>
        </tr>
        <tr>
            <th scope="row">페이지 수</th>
            <td>{{book.pages}}</td>
        </tr>
        <tr>
            <th scope="row">ISBN 코드</th>
            <td>{{book.isbn}}</td>
        </tr>
      </tbody>
</table>
<div>
    <h3>책 소개</h3>
    <p>{{book.description}}</p>
</div>
<div>
    <h3>댓글</h3>
    {% for comment in comments %}
    <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{comment.user_id}}</h5>

          <div id="edit-area">
            <p class="card-text" id="user-rating{{comment._id}}">{{"★"*comment.star_rating}}</p>
            <p class="card-text" id="user-comment{{comment._id}}">{{comment.comment}}</p>
          </div>
          {% if g.user._id == comment.user_id %}
          <!-- todo : 수정하기 삭제하기 구현 -->
          <a href="#" onclick="updateComment('{{comment._id}}');return false;" class="btn btn-primary" id='editBtn{{comment._id}}'>수정하기</a>
          <a href="#" class="btn btn-primary">삭제하기</a>
          {% endif %}
        </div>
    </div>
    {% endfor %}
    <form class="row g-3" action="#" onsubmit="addComment('{{ book._id }}'); return false;">
        <div class="col-md-6">
          <label for="inputCity" class="form-label">댓글 달기</label>
          <input type="text" class="form-control" id="comment">
        </div>
        <div class="col-md-4">
          <label for="rating" class="form-label">평가하기</label>
          <select id="star-rating" class="form-select">
            <option selected>별점을 선택하세요.</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-primary">작성하기</button>
        </div>
      </form>
</div>
{% endblock %}