{% extends 'base.html' %}

{% block css %}
<style>
    .books-card {
        display: inline-flex;
        text-align: center;
        flex-wrap: wrap;
    }
    .card {
        width: 18rem;
        height: 28rem;
        margin: 50px 20px;
    }

    .card-img {
        height: 60%;
    }

    .card-img-top {
        width: auto;
        height: 100%;
        max-height: 400px;
    }
</style>
{% endblock %}

{% block scripts %}
<script>
    function returnBook(book_id){
        let renter = `{{ g.user._id }}`

        $.ajax({
            url: '/return',
            type: 'post',
            data: {
                'book_id': book_id
            },
            success: function(res){
                let result = res['result']
                if (result == "success") {
                    alert("반납 완료!");
                    window.location.reload();
                } else {
                    alert("다시 시도해 주세요.")
                }
            }
        });
    }
</script>
{% endblock %}

{% block content %}
<div class="books-card">
    {% for record in records %}
    {% if record.return_date is defined and record.return_date %}
    {% else %}
    <div class="card">
        <div class="card-img">
            <img src="{{ url_for('static', filename = record.img_path) }}" class="card-img-top" alt="책 이미지">
        </div>
        <div class="card-body">
          <h5 class="book-name"><a href="{{ url_for('.bookInfo', book_id = book._id) }}">{{ record.book_name }}</a></h5>
          <p class="rent-date">{{ record.rent_date }}</p>
          <a href="#" onclick="returnBook('{{ record._id }}'); return false;" class="btn btn-primary">반납하기</a>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}